//
// Google font - Nunito
//

// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../../../assets/fonts/Mont-Light.otf') format('otf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../../../assets/fonts/Mont-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../../../assets/fonts/Mont-SemiBold.otf') format('otf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../../../assets/fonts/Mont-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../../../../assets/fonts/Mont-Black.otf') format('otf');
}