//
// alerts.scss
//
//Alert
@each $name,
$value in $theme-colors {
    .alert-#{$name} {
        background-color: rgba($value, 0.9);
        color: $white;
        border-color: $value;
        .alert-link {
            color: darken($value, 30%);
        }
    }
    .alert-outline-#{$name} {
        background-color: transparent;
        color: $value !important;
        border-color: $value;
    }
}
.alert {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: $white;
    &.alert-light {
        background-color: lighten($light, 3%);
        color: $dark;
        border-color: $gray-200;
    }
    &.alert-dismissible {
        padding-right: 30px;
        .btn-close {
            top: -6px;
            right: -10px;
            font-size: 12px!important;
        }
    }
    &.alert-pills {
        border-radius: 30px;
        display: inline-block;
        .content {
            font-weight: 600;
        }
    }
}