//Topnav
#topnav {
    .logo {
        .l-dark,
        .logo-light-mode {
            display: none !important;
        }
        .l-light,
        .logo-dark-mode {
            display: inline-block !important;
        }
    }
}

//for admin
.page-wrapper {
    .sidebar-wrapper {
        .sidebar-brand {
            .logo-dark-mode {
                display: inline-block;
            }
            .logo-light-mode {
                display: none;
            }
        }
        &.sidebar-colored {
            .sidebar-brand {
                .sidebar-colored {
                    display: inline-block;
                }
                .logo-dark-mode {
                    display: none !important;
                }
                .logo-light-mode {
                    display: none !important;
                }
            }
        }

        .sidebar-menu {
            .sidebar-dropdown.active>a, 
            li.active>a,
            .sidebar-dropdown.active>a:after,
            li.active>a:before,
            li:hover>a,
            li:hover>a:before,
            .sidebar-dropdown:hover>a:after {
                color: $white !important;
            }
        }
    }

    .page-content {
        .top-header {
            .header-bar {
                .logo-icon {
                    .big {
                        .logo-dark-mode {
                            display: inline-block;
                        }
                        .logo-light-mode {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}



.style-switcher {
    .t-dark,
    .t-rtl-light,
    .t-ltr-dark {
        display: none;
    }
    .t-light,
    .t-rtl-dark {
        display: inline-block;
    }
}

[dir="rtl"] {
    .style-switcher {
        .t-rtl-dark,
        .t-ltr-light {
            display: none;
        }
        .t-ltr-dark {
            display: inline-block;
        }
    }
}

//Offcanvas
.offcanvas {
    .offcanvas-header {
        .dark-version {
            display: inline-block;
        }
        .light-version {
            display: none;
        }
        .btn-close {
            color: $dark;
        }
    }
}